@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap');

:root {
    --color-primary: hsl(192, 37%, 48%);
    --color-primary-opaque: hsla(192, 37%, 48%, 0.9);
    --color-primary-hover: #71C0D4;
    --color-primary-light: hsl(192, 87%, 85%);
    --color-secondary: hsl(268, 35%, 53%);
    --color-secondary-hover: #B18BDD;
    --color-secondary-light: hsl(268, 100%, 86%);
    --color-dark: hsl(240, 21%, 20%);
    --color-gray: hsl(240, 10%, 57%);
    --color-gray-opaque: hsla(240, 10%, 57%, 0.25);
    --color-light: hsl(0, 0%, 98%);
    --rem: 16px;
    --root-y-padding: 1.5rem;
    --root-x-padding: 1.5rem;
    --delimiter-circle-size: 56px;
}

html {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--rem);
    min-height: 100vh;
    overflow-x: hidden;
    * {
        box-sizing: border-box;
        margin: 0;
    }
}

body {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: var(--color-light);
    padding: var(--root-y-padding) var(--root-x-padding);
    padding-bottom: 0;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.font-heading {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.75rem;
}

.font-heading-2 {
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
}

.font-overline {
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.625rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.font-body {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;
}

.is-color-primary-light {
    color: var(--color-primary-light)
}

.is-color-primary {
    color: var(--color-primary)
}

.is-color-gray {
    color: var(--color-gray)
}

.is-color-dark {
    color: var(--color-dark)
}

.is-color-light {
    color: var(--color-light)
}

.button {
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.625rem;
    border-radius: 2rem;
    padding: 1rem 0;
    color: white;
    &:nth-of-type(1) {
        width: 193px;
    }
    &:nth-of-type(2) {
        width: 139px;
    }
    &:hover {
        cursor: pointer;
    }
    &.is-primary {
        background-color: var(--color-primary);
        &:hover {
            background-color: var(--color-primary-hover);
        }
    }
    &.is-secondary {
        background-color: var(--color-secondary);
        &:hover {
            background-color: var(--color-secondary-hover);
        }
    }
}

@media (min-width: 375px) {
    :root {
        --root-y-padding: 3rem;
    }
}

@media (min-width: 768px) {
    :root {
        --root-x-padding: 2.4375rem;
    }
    .info-section {
        gap: 2rem;
        max-width: 573px;
        .font-heading-2 {
            max-width: 445px;
        }
    }
    .font-heading {
        font-size: 3rem;
        line-height: 3rem;
    }
    .font-heading-2 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}

@media (min-width: 1440px) {
    :root {
        --root-y-padding: 5rem;
        --root-x-padding: 10.3125rem;
    }
    .font-heading {
        font-size: 4rem;
        line-height: 4rem;
    }
    .font-body {
        font-size: 1.125rem;
    }
}
